section.new-tweet{
    /* margin: auto; */
    background-color:lightgrey;
    padding: 0px 10px 10px 10px;
    border-radius: 5px;
    border: 1px solid black;
    display: none;
}

section.new-tweet h2{
    font-size: 25px;
    border-bottom: 1px solid black;
    height: fit-content;
    margin-top: 5px;
}

section.new-tweet textarea{
    padding: 5px;
    width: 100%;
    resize: none;
}

section.new-tweet input{
    align-self: left;
    margin-top: 5px;
}

section.new-tweet span{
    padding-top: 10px;
    float: right;
}

section.new-tweet #error{
    color: red;
    font-size: 15px;
    display: inline-block;
    padding-left: 2px;
    margin: 0px;
}